on:
  push:
    branches:
      - dev
  workflow_dispatch:

name: dev CITATION.cff
jobs:
  Validate-dev-CITATION-cff:

    runs-on: ${{ matrix.config.os }}
    name: ${{ matrix.config.os }}

    strategy:
      fail-fast: false
      matrix:
        config:
          - {os: ubuntu-latest}
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}


    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Validate ./examples/key-complete/CITATION.cff
        uses: dieghernan/cff-validator@dev
        with:
          citation-path: "./examples/key-complete/CITATION.cff"

      - name: Validate ./examples/key-error/CITATION.cff
        uses: dieghernan/cff-validator@dev
        with:
          citation-path: "./examples/key-error/CITATION.cff"

