on:
  push:
    branches:
      - main
  schedule:
      - cron:  '30 16 1 * 2,5'
  workflow_dispatch:

# Run on available environments on GHA
# as on 2022-10-21

name: full-test-action
jobs:
  full-test-action:

    runs-on: ${{ matrix.config.os }}
    name: ${{ matrix.config.os }}

    strategy:
      fail-fast: false
      matrix:
        config:
          - {os: ubuntu-latest}
          - {os: ubuntu-22.04}
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Validate CITATION.cff
        uses: dieghernan/cff-validator@main


      - name: Validate examples/key-complete/CITATION.cff
        uses: dieghernan/cff-validator@main
        with:
          citation-path: "./examples/key-complete/CITATION.cff"

