on:
  schedule:
    - cron: '00 10 * * *'
  workflow_dispatch:

name: CITATION.cff-error
jobs:
  Validate-CITATION-cff-error:
    runs-on: ubuntu-latest
    name: Validate CITATION.cff with errors
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Validate examples/key-error/CITATION.cff
        uses: dieghernan/cff-validator@main
        with:
          citation-path: "./examples/key-error/CITATION.cff"
          cache-version: 2

