name: Soft deprecation
on:
  workflow_dispatch:

jobs:
  Soft-deprecation:
    runs-on: ubuntu-latest
    name: Validate CITATION.cff
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Validate CITATION.cff
        uses: dieghernan/cff-validator@main
        with:
          cache-version: 2
          install-r: false

